<footer class="bg-indigo-900 py-10" style="position: absolute; bottom: 0; width: 100%; height: 2.5rem;">
  <div class="container mx-auto px2 flex justify-between" style="color: rgba(255,255,255,0.5); width: 90%; font-size: 12px;">
    <div><h2>App made with <i class="fa-solid fa-heart text-red-600"></i></h2></div>
    <div class="text-center ps-20" style="font-size: 20px;">
      <a target="_blank" href="https://github.com/lcamilov7"><i class="fa-brands fa-github hover:text-white"></i></a>
      <a target="_blank" href="https://www.linkedin.com/in/lcamilov7082199/"><i class="fa-brands fa-linkedin hover:text-white"></i></a>
    </div>
    <div class="flex items-center">
      <div class="flex flex-col" style="margin-right: 0.8px;">
        <div style="width: 4px; height: 4px; background-color: #48B5B8; margin-bottom: 0.5px;"></div>
        <div style="width: 4px; height: 4px; background-color: #1C8388; margin-top: 0.5px;"></div>
      </div>
      <p>symplifica technical test, February 2024</p>
    </div>
  </div>
</footer>
